<div class="sidebar">
  <a
    style="
      font-size: 18px;
      padding: 15px 20px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin-bottom: 1px;
      transition: all 0.3s ease;
    "
    href="/publication"
    class="nav-link"
    routerLink="publication"
  >
    <span class="icon"
      ><i class="fas fa-copy" style="margin-right: 15px; font-size: 20px"></i>
    </span>
    <span class="title">Publications</span>
  </a>
  <a
    href="/prof"
    class="nav-link"
    routerLink="prof"
    style="
      font-size: 18px;
      padding: 15px 20px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin-bottom: 1px;
      transition: all 0.3s ease;
    "
    ><span class="icon"
      ><i
        class="fas fa-chalkboard-teacher"
        style="margin-right: 15px; font-size: 20px"
      ></i>
    </span>
    <span class="title">Profs</span>
  </a>
  <a
    style="
      font-size: 18px;
      padding: 15px 20px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin-bottom: 1px;
      transition: all 0.3s ease;
    "
    href="/doctorant"
    class="nav-link"
    routerLink="doctorant"
  >
    <span class="icon"
      ><i
        class="fas fa-graduation-cap"
        style="margin-right: 15px; font-size: 20px"
      ></i
    ></span>
    <span class="title">Doctorants</span></a
  >

  <a
    style="
      font-size: 18px;
      padding: 15px 20px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin-bottom: 1px;
      transition: all 0.3s ease;
    "
    href="/author"
    class="nav-link"
    routerLink="author"
  >
    <span class="icon"
      ><i
        class="fas fa-user-edit"
        style="margin-right: 15px; font-size: 20px"
      ></i
    ></span>
    <span class="title">Author</span></a
  >
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
