<div id="app">
  <nav
    class="navbar navbar-expand navbar-dark"
    style="background-color: #f1faee"
  >
    <a href="#" class="navbar-brand" style="color: #1d3557"
      >Scientific Research</a
    >
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a
          href="/dashboard"
          class="nav-link"
          routerLink="dashboard"
          style="color: #1d3557"
          >Home
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a
          href="/register"
          class="nav-link"
          routerLink="register"
          style="color: #1d3557"
          >Crée Compte</a
        >
      </li>
      <li class="nav-item">
        <a
          href="/login"
          class="nav-link"
          routerLink="login"
          style="color: #1d3557"
          >Connecter</a
        >
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a
          href="/profile"
          class="nav-link"
          routerLink="profile"
          style="color: #1d3557"
        >
          <i class="fas fa-user-alt"></i> {{ username }}</a
        >
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()" style="color: #1d3557"
          ><i class="fas fa-sign-out-alt"></i
        ></a>
      </li>
    </ul>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="!isLoggedIn">
    <img
      src="./assets/search.jpg"
      style="margin-left: 80px; margin-top: 30px; width: 80%; height: 90%"
    />
  </div>
</div>
